---
layout: default
permalink: /about/
---
<div id="main">
  <div class="team">
    {% include menu.html %}
    {% include about-menu.html %}
    <div class="intro">

      <div class="abstract">
        <p>
          Located in Washington D.C., <strong>Lucid Technics</strong> is an agile company well versed in the practice of cloud computing and machine learning.
        </p>
        <p>
        We are experts in cloud computing, having created mission critical applications using Amazon Web Services or Google's App Engine infrastructure.  On these or other platforms, we can rapidly build and deploy your application, specifically by automating the translation of written business requirements into fully functional front end software, while coupling this with the strategic deployment of powerful back end machine learning algorithms.
        </p>
        <p> If you have a seemingly intractable business workflow problem, give us call or drop us a line at <a href="mailto:info@lucidtechnics.com">info@lucidtechnics.com</a>.  We would love to help.
        </p>
      </div>
    </div>
  </div>
<div>