/* @override 
	http://lucidtechnics.github.com/app.css
	http://localhost:4000/app.css
*/

/* ------------------------------------------
  Reset ♥
  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
---------------------------------------------*/
html, body, div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
	font-style: inherit;
	font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
  }
body { line-height: 1; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }
/* remember to define focus styles. Hee Haw */
:focus { outline: 0; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  }


/* ------------------------------------------
  Typography
---------------------------------------------*/


html,body {
  -webkit-font-smoothing: antialiased;
  height: 100%;
  line-height: 1.5em;
  }

body,
textarea,
input {
	font-family: Merriweather,Georgia,'Times New Roman','Hoefler Text', sans-serif;
	line-height: 20px;
}

a {
  color: #2C5173;
  text-decoration: none;
  -moz-transition: background 100ms linear, color 100ms linear;
  -o-transition: background 100ms linear, color 100ms linear;
  -webkit-transition: background 100ms linear, color 100ms linear;
  transition: background 100ms linear, color 100ms linear;
  font-weight: bold;
  }
  
a:hover {
  color: #0D1925;
  }

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  }

p > a {font-weight: bold;}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  line-height: 1.5em;
  }
h4, h5, h6 {
  }

h1 { font-size: 24px; }
h1 small { font-size: 13px; font-weight: normal; }
h2 { 
  font-size: 16px;
  }
h2 small { font-size: 16px; font-weight: normal; }
h3 { 
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
  }

h3 small { font-size: 14px; font-weight: normal; }
h4 { font-size: 14px; }
h5 { font-size: 13px; }
h6 { font-size: 11px; font-weight: normal; }

p {
  line-height: 1.5em;
  margin-bottom: 0px; 
  margin-top: 10px;
}

/* Use border-box box model */

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  }

/* ------------------------------------------
  Globals
---------------------------------------------*/

html,body {
  color: #555;
  /*background-color: #E0E0E0;*/
}



.slides .navigation a.first,
.article-navigation .article-link.first{
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}

.slides .navigation a.last,
.article-navigation .article-link.last{
  border-top-right-radius:3px;
  border-bottom-right-radius:3px;
}

.darker {
  background: #E9EAE5;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

/* Top Branding/Navigation */
/*#header {
  padding: 0 20px;
  height: 60px;
  background: #31374b;
  overflow: visible;
  }

#header a.title {
  font-size: 22px;
  line-height: 60px;
  color: rgba(255,255,255, 0.6);

  height: 60px;
  font-weight: bold;
  }

#header .subtitle {
  height: 60px;
  font-size: 20px;
  padding-left: 20px;
  line-height: 60px;
  color: #999;
}

#header a.title span {
  display: none;
  }

#header .navigation {
  width: 800px;
  margin: 0 auto;
  font-size: 12px;
  position: relative;
  line-height: 30px;
  padding: 0;
  overflow: visible;
  }*/

#main .plot {
  width: 844px;
  margin: 0 auto;
  padding: 30px 0;
  color: #666;
  font-size: 26px;
  line-height: 24px;

  color: rgba(0,0,0, 0.75);
}

#menu {
  padding: 0px 0;
  overflow: none;
	margin-bottom: 0;
  position: relative;
  height: 90px;
}

#menu .ruler {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 10px;
  background: #0C2331;
  z-index: 100;
}

#menu .inner {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #fff;
  margin: 0 auto;
  z-index: 1000;
  overflow: none;
	width: 844px;
	padding: 0;
}

#menu a {
  color: #444;
  /*background: rgba(0,0,0, 0.2);*/
  padding: 30px 0px;
  text-align: center;
  font-weight: 700;
  font-family: 'Open Sans';
  z-index: 2000;
  display: block;
  float: left;
  margin-right: 1px;
  width: 137px;
}

#menu a:first-child{
	/*font-family: Merriweather;*/
}

#menu a:last-child {
  margin-right: 0px;
}

#menu a.title {
  /*margin-right: 30px;*/
  text-align: left;
  padding: 30px 70px 30px 0px;
  font-size: 26px;
  color: rgba(0,0,0, 0.8);
  border-bottom: 10px solid #0C2331;
  background: none;
	width: 290px;
}

/* Active states */

#menu a.home {
  border-bottom: 10px solid rgba(248, 149, 21, 1);
}

#menu a.home:hover {
  background: rgba(248, 149, 21, 0.1);
}

#menu a.home.active {
  background: rgba(248, 149, 21, 0.5);
  color: #fff;
}

#menu a.projects {
  border-bottom: 10px solid rgba(234, 40, 65, 1);
}

#menu a.projects:hover {
  background: rgba(234, 40, 65, 0.1);
}

#menu a.projects.active {
  background: rgba(234, 40, 65, 0.5);
  color: #fff;
}

#menu a.articles {
  border-bottom: 10px solid rgba(126, 170, 16, 1);
}

#menu a.articles:hover {
  background: rgba(126, 170, 16, 0.1);
}

#menu a.articles.active {
  background: rgba(126, 170, 16, 0.5);
  color: #fff;
}

#menu a.team {
  width: 138px;
  border-bottom: 10px solid rgba(59, 98, 126, 1.0);
}

#menu a.team:hover {
  background: rgba(59, 98, 126, 0.1);

}

#menu a.team.active {
  background: rgba(59, 98, 126, 0.5);
  color: #fff;
}


#menu a.title.active, #menu a.title:hover {
  background: none;
}

#menu a.active, #menu a:hover {
  /*color: #fff;*/

  /*background: #d34444;*/
}

#menu a.title:hover {
  color: #000;
}


 
#main {
  font-size: 16px;
  overflow:auto;
	background-color: #fff;
	padding-bottom: 30px;
}

#main.home,
#main.articles,
#main.project{
	padding-bottom: 0;
}

#post .inner  {
  position: relative;
  }


/* ------------------------------------------
  About
---------------------------------------------*/

#main .team-members {
  width: 844px;
  margin: 0 auto;
  padding-top: 30px;
}

#main h1 {
  padding: 10px 0;
  font-family: 'Open Sans';
  font-weight: bold;
  padding-top: 20px;
}
#main .team-members .member h1 {
  padding-top: 0px;
  color: #0C2331;
  border-bottom: 1px solid #ccc;
}
#main .team-members .member {
  /*background: rgba(0,0,0, 0.05);*/
  /*border: 1px solid #ccc;*/
  margin-bottom: 30px;
  overflow: auto;
  padding: 20px 0;
  margin-bottom: 20px;
}

#main .team-members .member img {
  margin-top: 10px;
  border-radius: 5px;
  float: left;
}

#main .team-members .member .description {
  margin-left: 190px;
}

#main .team-members .member .links {
  padding-top: 20px;
}

#main .team-members .member .links a {
  font-family: 'Open Sans';
  font-weight: normal;
  color: white;
  background: #0C2331;
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 2px;
  opacity: 0.8;
}

#main .team-members .member .links a:hover {
  opacity: 1.0;
}

.about-menu {
  background: #E0E0E0;
  
}

.about-menu .inner {
  width: 844px;
  margin: 0 auto;
  overflow: auto;
  height: 60px;
}

.about-menu a {
  float: left;
  line-height: 60px;
  padding: 0 20px;
}

.about-menu a.active {
  background: #0C2331;
  color: #fff;
}

.jobs {
  width: 844px;
  margin: 0 auto;
  overflow: auto;
}

/* ------------------------------------------
  Startpage
---------------------------------------------*/

.slides {
  position: relative;

  /*border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;*/
  border-bottom: 1px solid #ccc;
}

.slides .navigation {
  z-index: 2000;
  position: absolute;
  top: 40px;
  width: 844px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  overflow: auto;
}

.slides .navigation a,
.article-navigation .article-link {
  display: block;
  float: left;
  /*margin-right: 20px;*/
  margin-right: 1px;
  width: 60px;
  font-family: 'Open Sans';
  font-weight: 700;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  background: #0C2331;
  color: #fff;
  opacity: 0.7;
}

.slides .navigation a:hover, .slides .navigation a.active {
  opacity: 1.0;
}

.slides .slide {
  display: none;
}

.slides .slide.active {
  display: block;
}

.slides .slide .inner {
  width: 844px;
  margin: 0 auto;
  color: #0C2331;
  position: relative;
	height: 500px;
}

.slides .slide-1 {
  background-image: url(images/nyc-bg.jpeg);
}

.slides .slide .mask {
  background-color: rgba(224,224,224, 0.9);
  min-height: 600px;
}

.slides .slide .title {
  font-weight: 700;
  position: absolute;
  font-family: 'Open Sans';
  top: 140px;
  left: 0px;
  font-size: 35px;
}

.slides .slide .teaser {
  opacity: 0.8;
  position: absolute;
  top: 230px;
  font-family: 'Open Sans';
  font-weight: 300;
  left: 0px;
  font-size: 25px;
  line-height: 40px;
	width: 700px;
}



.content {
  width: 844px;
  margin: 0 auto;
}

.smaller {
  font-size: 18px;
}

.content h1 {
  /*margin-top: 20px;*/
}

.answer {
  font-size: 18px;
  padding-bottom: 30px;
}

/* ------------------------------------------
  Footer - a sticky one
---------------------------------------------*/


/* must declare 0 margins on everything, also for main layout components use padding, not 
vertical margins (top and bottom) to add spacing, else those margins get added to total height 
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

#container { 
  min-width: 844px;
}

.footer-separator {
  height: 10px;
  background: #0C2331;
}

.footer-separator .colorstrips {
  width: 844px;
  margin: 0 auto;
  overflow: auto;
}

.footer-separator .colorstrip {
  width: 137px;
  height: 10px;
  color: red;
  float: right;
  border-right: 1px solid #fff;
}

.footer-separator .colorstrip.one {
  border-left: 1px solid #fff;
  background: rgba(248, 149, 21, 1);
}

.footer-separator .colorstrip.two {
  background: rgba(234, 40, 65, 1);
}

.footer-separator .colorstrip.three {
  background: rgba(126, 170, 16, 1.0);
}

.footer-separator .colorstrip.four {
  background: rgba(59, 98, 126, 1.0);
}

#footer {
  font-family: 'Open Sans';
  font-weight: 300; 
  height: 90px; /* negative value of footer height */
  overflow: hidden;
  line-height: 90px;
  background: #fff;  
	clear: both;
}

#footer .footer-content {
  width: 844px;
  margin: 0 auto;
  font-size: 18px;
}


#footer .footer-content .copyright {
  float: left;
}

#footer .footer-content .note {
  float: right;
}

#footer a.help, #footer a.about{ 
  margin-right: 20px;
  padding-left: 20px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  background-image: url('images/sprite.png');
  }
  a.about { background-position: 0 -959px; }
  a.help { background-position: 0 -1049px; }

#footer .footer-content p {
  margin: 16px 0;
  }
  
/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;/* thank you Erik J - negate effect of float*/
  }


/* ------------------------------------------
  Projects
---------------------------------------------*/

.projects{
}

.project-navigation {
  width: 844px;
  margin: 0 auto;
	padding: 30px 0 50px;
}

.project-navigation .project {
  height: 300px;
  display: block;
  background: #31374b;
  margin-bottom: 20px;
  margin-right: 15px;
  opacity: 1.0;
  position: relative;
}

.project-navigation a.project {
  
}

.project-navigation a.project .abstract {
  position: absolute;
  left: 0;
  right: 0;
  height: 30px;
  bottom: 0px;
  background-color: rgba(0,0,0,0.7);
  /*background-color: rgba(255,255,255, 0.8);*/
  /*padding: 30px 20px;*/

  /*line-height: 50px;*/
  color: #fff;
  font-family: 'Open Sans';
  font-weight: 200;
  padding-left: 20px;
  font-size: 17px;
}

.project-navigation .project:hover {
 opacity: 0.9;
}

.project-navigation .project .title {
  position: absolute;
  bottom: 30px;
  left: 0px;
  right: 0px;
  height: 50px;
  font-family: 'Open Sans';
  font-size: 30px;
  color: #fff;
  line-height: 50px;
  padding-left: 20px;
	background-color: rgba(0,0,0,0.7);
}

/* ------------------------------------------
  Article
---------------------------------------------*/


.article-navigation .article-link.active {
  opacity: 1.0;
}


.article-navigation {
  width: 844px;
  margin: 0 auto;
  padding: 30px 0;

}

/*.article-navigation .article-link {

  position: relative;
  display: block;
  float: left;
  height: 30px;
  width: 50px;

  vertical-align: middle;

  opacity: 0.5;
  background: #0C2331;
  color: #222;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-right: 1px;
}


.article-link .number {
  display: none;
  font-family:'Open Sans';
  line-height: 30px;
	color: #fff;
}

.article-link .title {
  position: absolute;
  left: -150px;
  top: 40px;
  width: 300px;
  
  display: none;
  vertical-align: middle;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.article-link:hover .title {
  display: block;
	color: #444;
}


.article-navigation .article-link.active {
  color: white;
  opacity: 1.0;
}

.article-navigation .article-link:hover {
  opacity: 0.8;
}

.article-navigation .article-link.active:hover {
  opacity: 1.0;
}*/

.article-wrapper {
  padding-bottom: 50px;
  padding-top: 30px;
}


.improve-article-wrapper a.button {
  width: 100px;
  float: left;
  color: #eaeaea;
  display: block;
  line-height: 1.5em;

  padding: 20px 0;
  background: #47515A;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

.improve-article-wrapper a.button:hover {
  background: #0D1925;
  color: rgba(255,255,255, 1);
}

.improve-article-wrapper {
  font-family: 'Open Sans';
  font-weight: 300;
  border-top: 1px solid #CCC;
  font-size: 20px;
  padding: 20px 0;
  background: #eaeaea;
}

.improve-article {
  overflow: auto;
  width: 844px;
  margin: 20px auto;
}

.improve-article p {
  padding-top: 13px;
  margin-left: 130px;
}

.intro {
  padding: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #E0E0E0;
  color: #0C2331;
  border-bottom: 1px solid #ccc;
	margin-bottom: 30px;
}

.intro .title {
  font-family: 'Open Sans';
  position: relative;
  width: 844px;
  font-size: 36px;

  font-weight: 700;
  padding-bottom: 20px;
	margin: 20px auto 10px;
}


.intro .abstract {
  width: 844px;
  margin: 0px auto;
  padding: 20px 0;
  padding-bottom: 30px;
  opacity: 0.7;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 22px;
  line-height: 1.5em;
}

.intro .meta {
  height: 50px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  width: 844px;
  opacity: 0.9;
  margin: 0px auto;
  padding-top: 20px;
  overflow: auto;
}

.intro .meta .contributors {
  float: left;
  overflow:auto;
}

.intro .meta .contributor {
  float: left;
  margin-right: 10px;
  padding: 3px;
  display: block;
  border: 1px solid #aaa;
  background: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.intro .meta .contributors img {
  display: block;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.intro .meta .caption {
  font-size: 14px;
  padding-bottom: 10px;
  color: #555;
}

.intro .meta .links {
  float: right;
}

.intro .meta .links .link-listing {
  overflow:auto;
}

.links a.button {
  color: rgba(255,255,255, 0.7);
  display: block;
  float: left;
  margin-right: 10px;
  padding: 10px 10px;
  background: rgba(0,0,0, 0.7);
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

.links a.button:hover {
  background: rgba(0,0,0, 0.8);
}

.post-content {
  width: 844px;
  margin: 0px auto;
  padding: 20px 0;
  font-family: Merriweather, Georgia,'Times New Roman','Hoefler Text', sans-serif;
  font-weight: normal;
  font-size: 18px;
  }

.post-content * {
  line-height: 1.2em;
  }

.post-content p, .post-content ul, .post-content ol,  .post-content li {
  line-height: 1.5em;
  }


.post-content h1 { font-size: 26px; margin: 10px 0 20px 0; }
.post-content h2 { font-size: 18px; margin: 10px 0 20px 0; font-weight: bold; padding: 0; }
.post-content h3, .post-content h4, .post-content h5, .post-content h6 { 
  text-transform: none;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  }
  
.post-content blockquote {
  padding-left: 19px;
  border-left: 1px solid #C3CCD0;
  font-style: italic;
  margin-bottom: 20px;
  }

.post-content ul {
  margin-left: 0px;
  padding-left: 20px;
  list-style: disc;
  }

.post-content ol {
  margin-left: 0px;
  padding-left: 20px;
  list-style: decimal;
  }

.post-content img {
  max-width: 100%;
  }

.post-content a {
  border-bottom: 1px dashed #C1C1C1;
  font-weight: normal;
  }

.post-content p {
  margin-bottom: 20px;
  }

.post-content p:last-child {
  margin-bottom: 20px;
  }
  
/*.post-content code {
  font-family: Menlo, monospace;
  padding: 4px;
  border-radius: 3px;
  font-size: 12px;
  border: 1px solid #C1C1C1;
  }*/

/*.post-content pre {
  margin: 30px 0;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #C1C1C1;
  background: #E9EAE5;
  }

.post-content pre code {
  border: none;
  }*/

.post-content hr {
  margin: 5px 0 4px 0;
  border-top: 1px solid #C1C1C1;
  border-bottom: 0;
  border-radius: 5px;
  }

/* ------------------------------------------
  Class Helpers
---------------------------------------------*/
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  }

* html .clearfix { height: 1%; } /* IE6 */
*:first-child + html .clearfix { min-height: 1%; } /* IE7 */

.icon {
  background: transparent url(images/icons.png) no-repeat 0 0;
  width: 20px;
  height: 20px;
  display: block;
  text-indent: -999em;
  }
.fl { float: left; }
.fr { float: right; }
.clear { clear: both; }

.inner      { padding: 0px 0px 0px; }
.hidden     { display: none; }
.centered   { text-align: center; }
.scrolling  { overflow: auto; }
.clipping   { overflow: hidden; }

/* ------------------------------------------
  ios and small screen alterations
---------------------------------------------*/
 @media all and (max-width: 480px) {
  #post .inner {
    width: 100%;
    margin: 0;
    padding: 20px 0 40px;
    }
  .toggle-mode {
    right: 0;
    }
  }



/* Rainbow Github Theme */


/**
 * GitHub theme
 *
 * @author Craig Campbell
 * @version 1.0.2
 */

pre {
    border: 1px solid #ccc;
    word-wrap: break-word;
    padding: 10px 10px;
    line-height: 19px;
    margin-bottom: 20px;
}

code {
    border: 1px solid #ccc;

    margin: 0px 2px;
    padding: 0px 5px;
    font-size: 12px;
}

pre code {
    border: 0px;
    padding: 0px;
    margin: 0px;

    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

pre, code {
    /*font-family: 'Bitstream Vera Sans Mono', Courier, monospace;*/
    font-family: Menlo, monospace;
    color: #333;
    background: #f8f8f8;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

pre, pre code {
    font-size: 14px;
}

pre .comment {
    color: #998;
}

pre .support {
    color: #0086B3;
}

pre .tag, pre .tag-name {
    color: navy;
}

pre .keyword, pre .css-property, pre .vendor-prefix, pre .sass, pre .class, pre .id, pre .css-value, pre .entity.function, pre .storage.function {
    font-weight: bold;
}

pre .css-property, pre .css-value, pre .vendor-prefix, pre .support.namespace {
    color: #333;
}

pre .constant.numeric, pre .keyword.unit, pre .hex-color {
    font-weight: normal;
    color: #099;
}

pre .entity.class {
    color: #458;
}

pre .entity.id, pre .entity.function {
    color: #900;
}

pre .attribute, pre .variable {
    color: teal;
}

pre .string, pre .support.value  {
    font-weight: normal;
    color: #CF4A29;
}

pre .regexp {
    color: #2f8ea2;
}