---
layout: default
permalink: /articles/
---
<div id="main" class="articles">
  <div class="journal">
    {% include menu.html %}

    <div class="article-content">
      {% for page in site.categories.articles limit:1 offset: 0 %}

        <div class="intro">
          <div class="article-navigation">
            {% for item in site.categories.articles limit:40 offset:0 %}
              <a class="article-link{% if forloop.index == 1 %} active first{% endif %}{% if forloop.index == forloop.length %} last{% endif %}" href="{{site.baseurl}}{{item.url}}" title="{{item.title}}">
                <div class="number">{{forloop.index}}</div>
              </a>
            {% endfor %}
            <br class="clear"/>
          </div>

          <div class="title">{{page.title}}</div>
          <div class="abstract">{{page.abstract}}</div>
          <div class="meta"> Posted by <a href="http://twitter.com/{{page.author_twitter}}">{{page.author}}</a> on {{ page.date | date: "%B %d, %Y" }} </div>
        </div>

        <div class="article-wrapper">
          <div class="help post-content">
            {{ page.content }}
            <!-- Place this tag where you want the +1 button to render. -->
<div class="g-plusone" data-annotation="inline" data-width="300"></div>
            <a href="https://twitter.com/share" class="twitter-share-button" data-text="Lucid Technics Journal" data-size="large">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<!-- Place this tag after the last +1 button tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
          </div>
          
        </div>

        <div class="improve-article-wrapper">
          <div class="improve-article">
            <a class="button" href="{{page.prose_link }}">Edit in Prose</a>
            <p>
              This article has been written and published using <a href="http://prose.io" target="_blank">Prose</a>. Please help improving this documentation by contributing to the text.
            </p>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>
</div>



