---
layout: default
permalink: /

slides:
- title: Challenges ... Solved!
  teaser: We are a modern software consultancy, using sophisticated computing techniques to enable you to reach your most difficult business objectives.
  image: /images/nyc-bg.jpeg
- title: Productivity ... Increased!
  teaser: We take the time to understand your business, then create advanced software custom made to boost the effectiveness of your workforce.
  image: /images/workers_1800_682.jpg
- title: Results ... Delivered!
  teaser: Our open source software solutions are proven winners, supporting high powered cloud computing and machine learning technology tailored made for your own company's benefit.
  image: /images/barrels.gif
---
<div id='main' class="home">

   <script>
		$(document).ready(function(){
			$(function() {
			  $('.toggle-slide').click(function(e) {
				$('.slides .toggle-slide').removeClass('active');
				$(e.currentTarget).addClass('active');
				var slideNum = $(e.currentTarget).attr('data-slide');
				$('.slides .slide').hide();

				console.log($('.slide-'+slideNum));
				$('.slide-'+slideNum).show();
			  });
			});
		});
  </script>

  <div class="start">
    {% include menu.html %}

    <div class="slides">
      <div class="navigation">
        <a href="#" class="toggle-slide first active" data-slide="1">1</a>
        <a href="#" class="toggle-slide" data-slide="2">2</a>
        <a href="#" class="toggle-slide last" data-slide="3">3</a>
      </div>

      <!-- The Slides -->
      {% for item in page.slides %}
        <div class="slide slide-{{forloop.index}}{% if forloop.index == 1 %} active{% endif %}" style="background-image: url({{item.image}});">
          <div class="mask">
            <div class="inner">
              <div class="title">{{item.title}}</div>
              <div class="teaser">{{item.teaser}}</div>
              <div class="link"></div>
            </div>
          </div>
        </div>
      {% endfor %}
   </div>
  </div>
</div>

