---
layout: default
permalink: /

slides:
- title: Tackle Grand Challenges
  teaser: We are a modern software consultancy.  We use sophisticated computing techniques to tackle your most difficult business problems.
  image: /images/nyc-bg.jpeg
- title: Increase Your Productivity
  teaser: We analyze your workflow then create custom software that boosts your workforces productivity.
  image: /images/barrels.gif
- title: Slide 3
  teaser: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
  image: /images/electricity.png
---

<script>
  $(function() {
    $('.toggle-slide').click(function(e) {
      var slideNum = $(e.currentTarget).attr('data-slide');
      $('.slides .slide').hide();

      console.log($('.slide-'+slideNum));
      $('.slide-'+slideNum).show();
    });
  });
</script>

<div class="start">
  {% include menu.html %}
  <!--<div class="plot">
    <p>
      Lucid Technics is a modern software consultancy. 
    </p>
    <p class="smaller">
      We help our customers build great software. We are guided by the design principles of simplicity and minimalism, and apply these tenets whenever possible. 
      In our experience, this leads to the creation of software that is a delight to use.
    </p>
  </div>-->

  <div class="slides">
    <div class="navigation">
      <a href="#" class="toggle-slide" data-slide="1">1</a>
      <a href="#" class="toggle-slide" data-slide="2">2</a>
      <a href="#" class="toggle-slide" data-slide="3">3</a>
    </div>

    <!-- The Slides -->
    {% for item in page.slides %}
      <div class="slide slide-{{forloop.index}}{% if forloop.index == 1 %} active{% endif %}" style="background-image: url({{item.image}});">
        <div class="mask">
          <div class="inner">
            <div class="title">{{item.title}}</div>
            <div class="teaser">{{item.teaser}}</div>
            <div class="link"></div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<!--<div class="content">
  <h1>Embrace the Web</h1>
  <p class="answer">
    We encourage the use of ReSTful design, semantic web representations, and cloud computing. Our open source code generation tool, Hannibal, reflects this philosophy. It produces robust ReSTful Semantic Web Services that can be deployed in your data center or computing cloud.
  </p>
</div>-->