---
layout: default
permalink: /about/jobs/
---
<div id="main">
  <div class="team">
    {% include menu.html %}
    {% include about-menu.html %}
  </div>

  <div class="intro">

    <div class="abstract">
      <p>
        We are looking for those who view their work as a craft.  We are looking for those that can contribute from day one. We are looking for those who make others better.  We are looking for you.  Join our team. Send us your credentials (resum&eacute, github handle, etc.) to <a href="mailto:careers@lucidtechnics.com">careers@lucidtechnics.com</a>
      </p>
    </div>
  </div>

  <div class="jobs">
    <div class="job">
      <h1>Senior Software Engineer</h1>
      <p>
        Learning a new language or framework is all in a day's work for you.  You thrive on pushing the envelope and challenging yourself and your colleagues.  You are active in the open source community and can be found at a whiteboard presenting new technologies to your fellow techies.
      </p>
    <p>
      At Lucid Technics, you will get to use the best technologies for the job whether they are well known or created by you on the fly.  You may lead a team or be part of a super team of like minded engineers. As part of Lucid Technics, you will create scalable software using Airlift and cloud computing for our clients.
    </p>
    </div>
    <div class="job">
      <h1>Junior Software Engineer</h1>
      <p>
        You are a developer who gets it.  Even though you are just starting out you have contributed to open source projects or have your own pet projects.  You are always learning and can pick up languages and frameworks quickly.
      </p>
      <p>At Lucid Technics, you will learn how to write scalable applications using Airlift and cloud computing. You will get to work on interesting projects that involve machine learning and natural language processing and you will feel rewarded as you contribute to our team.
      </p>
    </div>

    <div class="job">
      <h1>Web UI/UX Designer</h1>
      <p>
        You understand the nuances of User Experience Design and are constantly refining your techniques.  You will work on crafting beautiful and functional interfaces for Lucid Technics' clients as well as for our products.
      </p>
      <p>
      At Lucid Technics, you will get to use the best technologies for the job whether they are well known or created by you on the fly.  You may lead a team or be part of a super team of like minded engineers. As part of Lucid Technics, you will create functional software for our clients and our products.
    </p>
    </div>
    
    <div class="job">
      <h1>Data Scientist - Statistician</h1>
      <p>
        You are excited to actually put all of that math you learned in school to good use. You are familiar with R or Octave and can't wait to get your hands on our clients' data.
      </p>
      <p>
      At Lucid Technics, you will encourage to find better uses for our clients' data.  Our clients will thank you for making their business more successful as you identify possibilities to increase revenues and reduce costs.
    </p>
    </div>
  </div>
</div>