---
layout: default
permalink: /about/jobs/
---
<div id="main">
  <div class="team">
    {% include menu.html %}
    {% include about-menu.html %}
  </div>

  <div class="intro">

    <div class="abstract">
      <p>
        We are looking for those who view their work as a craft.  We are looking for those that can contribute from day one. We are looking for those who make others better.  We are looking for you.  Join our team.
      </p>
    </div>
  </div>

  <div class="jobs">
    <div class="job">
      <h1>Senior Everything Engineer</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pharetra, lorem ut rutrum faucibus, metus magna molestie nulla, nec mattis nibh augue eu leo. Vestibulum felis diam, feugiat vitae tristique vestibulum, sodales eu odio. Sed tincidunt pellentesque ipsum, interdum sagittis augue iaculis a. Morbi massa ipsum, rutrum in venenatis eu, tristique ut libero. Morbi lorem enim, dapibus ac elementum vel, consequat at mauris. Curabitur fringilla rutrum ligula at tincidunt. Aliquam erat volutpat. Sed viverra est non augue pellentesque elementum. Praesent mattis sem sed dui pulvinar egestas. Cras eget ligula in libero iaculis adipiscing ullamcorper ac ante. Integer adipiscing lacinia mauris eget pharetra. Morbi condimentum elementum ultricies. Fusce eu diam a magna blandit molestie. Donec tellus erat, tincidunt tempor luctus at, accumsan vel magna. Nam id justo condimentum lorem pretium aliquet eget sed libero.
      </p>
    </div>
    <div class="job">
      <h1>Junior Engineer</h1>
      <p>
        You are a developer who gets it.  Even though your just starting out you have contributed to open source projects or have your own pet projects.  You are always learning and can pick up languages and frameworks quick.
      </p>
      <p>At Lucid Technics, you will be asked to do everything from setting up continuous integration servers to writing scalable applications using Node.js and cloud computing. You will get work on interesting projects and contribute as part of a team.
      </p>
    </div>

    <div class="job">
      <h1>Web UI/UX Designer</h1>
      <p>
        You understand the nuances of User Experience Design and are constantly refining your techniques.  You will work on crafting interfaces for both Lucid Technics' clients and products. 
      </p>    
    </div>
    
    <div class="contact">
      <h1>Contact Us</h1>

      <p>10900 University Blvd., MS 1J2<br/>
        Bull Run Hall, Suite 147<br/>
        Manassas, VA 20110<br/>
        Fax: 703.563.6279<br/>
        <a href="mailto:info@lucidtechnics.com">jobs@lucidtechnics.com</a>
      </p>
    </div>

  </div>
</div>