---
layout: default
permalink: /projects/
---

<div class="projects">
  {% include menu.html %}
  <div class="intro">
    <div class="abstract">
      Here's a selection of projects we have completed test.
    </div>
  </div>
  <div class="project-navigation">
    {% for item in site.categories.projects reversed limit:40 offset:0 %}
      <a class="project" href="{{site.baseurl}}{{item.url}}" title="{{item.title}}" style="background-image: url({{item.image}});">
        <div class="title">{{item.title}}</div>
      </a>
    {% endfor %}
  </div>
</div>