---
layout: default
permalink: /projects/
---
<div id='main' class="projects">
  <div class="projects">
    {% include menu.html %}
    <div class="intro">
      <div class="abstract">
        Here's a selection of projects we have completed.
      </div>
    </div>
    <div class="project-navigation">
      {% for item in site.categories.projects reversed limit:40 offset:0 %}
        <a class="project" href="{{site.baseurl}}{{item.url}}" title="{{item.title}}" style="background-image: url({{item.image}}); background-size:cover;">
          <div class="title">{{item.title}}</div>
          <div class="abstract">{{item.abstract}}</div>
        </a>
      {% endfor %}
    </div>
  </div>
</div>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7466901-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>