<div id="menu">
  <div class="inner">
    <a class="title" href="/{{site.baseurl}}" class="title">Lucid Technics</a>
    <a href="/"{% if page.url == '/' %} class="active"{% endif %}>Intro</a>
    <a href="/projects/"{% if page.url contains '/projects/' %} class="active"{% endif %}>Projects</a>
    <a href="/articles/"{% if page.url contains '/articles/' %} class="active"{% endif %}>Journal</a>
    <a href="/team/"{% if page.url contains '/team/' %} class="active"{% endif %}>Team</a>
  </div>
</div>