<div id="menu">
  <div class="inner">

    <a class="title" href="/"><img id="lucidtechnicslogo" src="images/lucidtechnicslogo.png" title="Lucid Technics" alt="Lucid Technics" height="80" width="80"/></a>
    <a class="title" href="/{{site.baseurl}}" class="title">Lucid Technics</a>
    <a class="home{% if page.url == '/' %} active{% endif %}" href="/">Home</a>
    <a class="projects{% if page.url contains '/projects/' %} active{% endif %}" href="/projects/">Projects</a>
    <a class="articles{% if page.url contains '/articles/' %} active{% endif %}" href="/articles/">Journal</a>
    <a class="team{% if page.url contains '/about/' %} active{% endif %}" href="/about/">Contact Us</a>
  </div>
  <div class="ruler"></div>
</div>