---
---
<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'/>
  <title>Lucid &middot; Think Clearly. Think Lucid.</title>
  <!-- <link rel='stylesheet' href='{{site.baseurl}}/fonts/open-sans.css'/> -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,700' rel='stylesheet' type='text/css'>

  <link rel='stylesheet' href='{{site.baseurl}}/app.css'/>
  
  <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>

</head>
<body>
  <div id='container'>
    {{content}}
  </div>

  <div class="footer-separator">
    <div class="colorstrips">
      <div class="colorstrip four"></div>
      <div class="colorstrip three"></div>
      <div class="colorstrip two"></div>
      <div class="colorstrip one"></div>
    </div>
  </div>

  <div id='footer'>
    <div class="footer-content">
      <div class="copyright">
        © Copyright 2012 <a href="http://lucidtechnics.com">Lucid Technics</a>, LLC.
      </div>
      <div class="note">
        This open sourced site is hosted on <a href="http://github.com/lucidtechnics/lucidtechnics.github.com">GitHub</a>.
      </div>
    </div>
  </div>

  <script src="/javascripts/rainbow-custom.min.js"></script>
  <script type="text/javascript">
    var codeBlocks = document.querySelectorAll('code');
    Array.prototype.forEach.call(codeBlocks, function iterator(block) {
      block.setAttribute('data-language', 'javascript');
    });
    Rainbow.color();
  </script>
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7466901-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
